:root {
  --name-color: hsl(5, 65%, 50%);
  --sub-heading-color: hsl(170, 55%, 40%);
  --label-color: hsl(210, 65%, 65%);
  --content-color: hsl(50, 30%, 50%);
  --bg-color: hsl(330, 15%, 10%);
  --ff-primary: "Open Sans", system-ui, sans-serif;
  --ff-secondary: "Roboto", system-ui, sans-serif;
}

::-webkit-scrollbar {
  width: 15px;
  background-color: var(--bg-color);
}

::-webkit-scrollbar-thumb {
  background-color: #333;
}

* {
  margin: 0;
  padding: 0;
}

.element-study {
  padding: 20px;
  padding-bottom: 50px;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  gap: 60px;
  overflow-y: hidden;
}

#element-name {
  color: var(--name-color);
  font-size: 6rem;
  font-family: var(--ff-primary);
}

.sub-heading {
  color: var(--sub-heading-color);
  font-size: 4rem;
  font-family: var(--ff-primary);
}

.section {
  display: flex;
  flex-direction: column;
  gap: 2rem
}

.info {
  display: flex;
  gap: 20px;
}

.info > div {
  color: var(--content-color);
  font-size: 2.2rem;
  font-family: system-ui, sans-serif;
}

.info > .label {
  color: var(--label-color);
  font-family: var(--ff-secondary);
}

select {
  width: 100%;
  padding: 20px;
  font-size: 20px;
  font-family: system-ui, sans-serif;
  color: white;
  background-color: var(--bg-color);
}

