:root {
  --name-color: hsl(5, 65%, 45%);
  --sub-heading-color: hsl(160, 55%, 55%);
  --label-color: hsl(170, 45%, 40%);
  --content-color: hsl(60, 15%, 60%);
  --bg-color: hsl(220, 75%, 5%);
}

::-webkit-scrollbar {
  width: 15px;
  background-color: var(--bg-color);
}

::-webkit-scrollbar-thumb {
  background-color: #333;
}

* {
  margin: 0;
  padding: 0;
  font-family: system-ui, sans-serif;
}

.element-study {
  padding: 20px;
  padding-bottom: 50px;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  gap: 3rem;
  overflow-y: hidden;
}

#element-name {
  color: var(--name-color);
  font-size: 4rem;
}

.sub-heading {
  color: var(--sub-heading-color);
  font-size: 2.5rem;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 1.25rem
}

.info {
  display: flex;
  gap: 20px;
}

.info > * {
  color: var(--content-color);
  font-size: 1.5rem;
}

.info > .label {
  color: var(--label-color);
}

select {
  width: 100%;
  padding: 20px;
  font-size: 20px;
  color: white;
  background-color: var(--bg-color);
}

